@charset "utf-8";
$primary: rgb(16, 142, 233);
$info: $primary;
$link: $primary;
$link-hover: $primary;
$navbar-burger-color: #bbbbbb;
$navbar-box-shadow-color: rgba(0, 0, 0, 0.5);
$navbar-box-shadow-size: 0 2px 8px 0;

$footer-background-color: $primary;